@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: "Philosopher", sans-serif;
    box-sizing: border-box;
    background-color: #1F1A2D;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center; 
    align-items: center;
    padding: 24px 0 80px;
}
.shapka{
    display: flex;
    width: 1240px;
    max-width: 100%;
    gap: 20px;
    color: #fff;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logogl {
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: 700;
    justify-content: space-between;
}
.logo {
    aspect-ratio: 2.63;
    object-fit: auto;
    object-position: center;
    width: 105px;
    max-width: 100%;
}
.catalog {
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 16px;
}
.catalog-items {
    display: flex;
    gap: 12px;
    padding: 4px 0;
}
.catalog-title {
    font-family: "Philosopher", sans-serif;
}
.poloski {
    aspect-ratio: 1.89;
    object-position: center;
    width: 15px;
    align-self: start;
    margin-top: 5px;
}
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgb(43, 34, 68);
}
input, .poisk {
    border: none;
    outline: none;
    background: transparent;
}
input {
    font-family: "Philosopher", sans-serif;
    width: 100%;
    height: 42px;
    padding-left: 15px;
}
.poisk{
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.lupa{
    aspect-ratio: 1;
    object-position: center;
    width: 16px;
    align-self: start;
    margin-top: 10px;
}
.shapka1 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    justify-content: space-between;
}
.menu-item {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.menu-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    align-self: center;
}
.btn{
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    align-self: stretch;
    color: #1f1a2d;
    padding: 12px 32px;
    font: 700 15px "Philosopher", sans-serif;
}
.menu{
    font-family: "Philosopher";
    display: flex;
    gap: 8px;
    font-size: 16px;
    color: #fafafa;
    font-weight: 400;
    align-items: center;
    letter-spacing: -0.3px;
    margin-top: 20px;
}
a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    background-color: #2b2244;
}
.kategory{
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Philosopher", sans-serif;
    justify-content: center;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
    padding: 6px 16px;
}
.reader{
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
}
.btn2{
    justify-content: center;
    border-radius: 5px;
    background-color: #1f1a2d;
    align-self: stretch;
    color: #fff;
    padding: 12px 32px;
    font: 700 15px "Philosopher", sans-serif;
    position: absolute;
    right: 1087px;
    top: 155px;
}
.btn2:hover{
    background-color: #3d315e;
}
.pop{
    color: rgb(250, 250, 250);
    font-family: "Philosopher";
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.3px;
    margin-left: 14px;
}
.smotr{
    color: rgb(255, 255, 255);
    font-family: "Philosopher";
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    margin-left: 1300px;
    margin-top: -49px;
    padding-bottom: 5px;
}
.smotr img{
    margin-left: 5px;
    margin-top: 5px;
}
.books{
    display: flex;
    border-radius: 5px;
    padding: 13px 9px;
    gap: 8px;
}
.container {
    justify-content: center;
    border-radius: 5px;
    background-color: #2b2244;
    display: flex;
    flex-grow: 1;
    gap: 8px;
    width: 295px;
    padding: 21px 9px;
}
.book-image {
    aspect-ratio: 0.63;
    width: 86px;
    height: 136px;
}
.content {
    display: flex;
    flex-direction: column;
}
.verxysh {
    display: flex;
    width: 100%;
    gap: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    letter-spacing: -0.3px;
    padding: 0 1px;
} 
.rating-container {
    display: flex;
    gap: 5px;
} 
.star {
    aspect-ratio: 1.08;
    object-position: center;
    width: 16px;
    height: 16px;
}
.chisl {
    font-family: "Philosopher", sans-serif;
    color: #fff;
}
.tag-image {
    width: 20px;
    margin-left: 163px;
}
.book-title {
    color: #fff;
    margin-top: 7px;
    font: 400 15px/15px "Philosopher", -apple-system, "Roboto", Helvetica, sans-serif;
}
.author {
    opacity: 0.5;
    color: #fff;
    letter-spacing: -0.3px;
    margin-top: 8px;
    font: 400 14px "Philosopher", sans-serif;
}
.niz {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.add-to-cart {
    border-radius: 5px;
    background-color: #fff;
    color: #1f1a2d;
    padding: 8px 12px;
    font: 700 15px "Philosopher", sans-serif;
} 
.price {
    color: #fff;
    margin: auto 0;
    font: 400 24px "Philosopher", sans-serif;
}
.xiti{
    color: rgb(250, 250, 250);
    font-family: "Philosopher";
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.3px;
    margin-left: 10px;
}
.vector{
    border: 0.5px solid rgb(255, 255, 255);
    margin-left: -274px;
    margin-top: 100px;
}
.vector2{
    border: 0.5px solid rgb(255, 255, 255);
    margin-left: -274px;
    margin-top: 50px;
}
.action p{
    color: rgba(250, 250, 250, 1);
    font-family: "Philosopher";
    font-size: 32px;
    font-weight: 400;
    }
.one-pages{
    display: flex;
    gap: 30px;
    margin-left: 124px;
}
.one-pages img{
    width: 400px;
    height: 310px;
}
.action{
    margin-top: 50px;
    margin-left: 14px;
    display: flex;
    gap:1190px;
    margin-bottom: 50px;
}
.act{
    background-color:rgba(31, 26, 45, 1) ;
    color: #ffffff;
    border: 0cap;   
}
.act:hover{
    background-color:rgb(47, 39, 69) ;  
}
.act img {
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 10px;
}
.card{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 30px;
}
.en{
    background-color:rgba(31, 26, 45, 1);
    color:rgb(0, 0, 0);
}
.ende p{
    color: rgba(250, 250, 250, 1);
    font-family: "Philosopher";
    font-size: 32px;
    font-weight: 400;
}
.ending{
    background-color:rgba(31, 26, 45, 1) ;
    color: #ffffff;
    border: 0cap;
}
.ending:hover{
    background-color:rgb(47, 39, 69) ;
}
.ende{
    margin-top: 50px;
    display: flex;
    gap:953px;
    margin-bottom: 50px;
    margin-left: 14px;
}
.ending img {
    vertical-align: middle;
    margin-right: 5px; 
    margin-left: 10px;
}
.ends{
    background-color:rgba(31, 26, 45, 1) ;
    color: #ffffff;
    border: 0cap;
    margin-left: 145px;
}
.ends:hover{
    background-color:rgb(47, 39, 69) ;
}
.ends img {
    vertical-align: middle;
    margin-right: 5px; 
    margin-left: 10px;
}

@media (max-width: 768px){
    .logogl{
        width: 105px;
        height: 40px;
        margin-top: 24px;
        margin-left: 20px;
    }
    
}